/*--Remember the cascade: Later styles override earlier ones and more specific styles override more general ones.--*/
body {
  background-color: #FFFF99;
  color: #444;
  font-size: 16px;
  font-family: 'Gentium Book Basic', serif;
}
p {
  margin-bottom: .67em;
}
nav, footer {
  background-color: purple;
}
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: yellow;
}
/*-- Main Menu Styles--*/
nav ul {
  list-style: none;
  padding: 1em;
  display: flex;
  justify-content: space-around;
}
nav a:link, nav a:visited {
  color: yellow;
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: yellow;
  text-decoration: underline;
}
nav a.active {
  color: yellow;
}
/*-- Hero Unit Styles--*/
header {
  margin-left: auto;
	margin-right: auto;
  width: 510px;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: purple;
  color: yellow;
}
header img {
  width: 100%;
  margin: 0 auto;
}
header h1 {
  margin-left: auto;
	margin-right: auto;
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
}
.small {
  margin-top: 1em;
  text-transform: uppercase;
  font-size: 20px;
  color: #FFFFE0;
  font-weight: 900;
  font-style: 'Lato font', sans-serif;
}
/*-- Article Styles--*/
article {
  margin-left: auto;
	margin-right: auto;
  width: 768px;
  font-size: 18px;
  line-height: 1.3;
  color: purple;
}

.dropcap {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

article figure {
  float: right;
  width: 39%;
  margin: 0 0 1.25em 1.25em;
}
article figcaption {

  font-size: 15px;
  font-style: italic;
}
.pagination {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
	margin-right: auto;
  width: 96%;
  display: flex;
  justify-content: space-around;
  color: yellow;
}
a.button {
  border: 1px solid pink;
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  border-radius: 200px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80%;
  color: yellow;
  background-color: purple

}
a.button:hover, a.button:active {
  border: 1px solid yellow;
  text-decoration: none
  color: yellow;
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
